In [37]:
import pandas as pd
from sdv.evaluation import evaluate

In [38]:
#import metadata - description file with additional datatype column
metadata=pd.read_csv("C:/Users/ez94785/synthetic_data_trials/data/trial_data_description.csv")
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Variable     28 non-null     object
 1   Description  28 non-null     object
 2   DataType     28 non-null     object
dtypes: object(3)
memory usage: 800.0+ bytes

In [39]:
#import refernce data
reference_data=pd.read_csv("C:/Users/ez94785/synthetic_data_trials/data/trial_data_reference.csv")
reference_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MASK_ID       500 non-null    int64
 1   REGION_C      500 non-null    object
 2   COU1A         500 non-null    object
 3   AGECAT        500 non-null    int64
 4   AGELE70       500 non-null    int64
 5   WHITE         500 non-null    int64
 6   MALE          500 non-null    int64
 7   BMI           500 non-null    float64
 8   TRTN          500 non-null    int64
 9   DUREXP_N      500 non-null    float64
 10  DUREXP_C      500 non-null    int64
 11  DTH_C         500 non-null    int64
 12  TUMLOC        500 non-null    int64
 13  TUMORSZ       500 non-null    int64
 14  SZ3TO6        500 non-null    int64
 15  SZ6TO10       500 non-null    int64
 16  PERFST_C      500 non-null    int64
 17  PSTAT0        500 non-null    int64
 18  AVGDOS_N      500 non-null    float64
 19  AVGDOS_C      500 non-null    int64
 20  CREA          500 non-null    float64
 21  PLAT2         500 non-null    float64
 22  SGOT          500 non-null    float64
 23  SGPT          500 non-null    float64
 24  TBIL          500 non-null    float64
 25  WBC           500 non-null    float64
 26  EVENT.RFS     500 non-null    int64
 27  TT_EVENT.RFS  500 non-null    int64
dtypes: float64(9), int64(17), object(2)
memory usage: 109.5+ KB

In [40]:
reference_data.describe()

,MASK_ID,AGECAT,AGELE70,WHITE,MALE,BMI,TRTN,DUREXP_N,DUREXP_C,DTH_C,...,AVGDOS_N,AVGDOS_C,CREA,PLAT2,SGOT,SGPT,TBIL,WBC,EVENT.RFS,TT_EVENT.RFS
count,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,...,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,387.80600,3.318000,0.866000,1.040000,0.532000,27.086878,1.472000,8.424084,4.524000,9.132000,...,391.738140,3.858000,0.892200,307.972435,22.298118,26.091764,0.501200,6.676767,0.170000,479.256000
std,226.25543,1.229593,0.340993,1.354278,0.499475,6.544665,0.499715,4.185951,1.709757,28.634987,...,29.553322,0.402691,0.211491,119.926711,9.418479,14.594373,0.253312,2.065735,0.376009,396.486602
min,2.00000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.067430,1.000000,0.000000,...,58.170000,1.000000,0.300000,34.784960,1.700000,1.500000,0.100000,2.849748,0.000000,0.000000
25%,190.75000,2.750000,1.000000,1.000000,0.000000,23.229933,1.000000,4.514011,3.000000,0.000000,...,400.000000,4.000000,0.800000,230.796295,16.950779,16.183997,0.300000,5.372324,0.000000,135.750000
50%,387.50000,3.000000,1.000000,1.000000,1.000000,26.334258,1.000000,11.127165,6.000000,0.000000,...,400.000000,4.000000,0.900000,278.148838,20.516132,22.949396,0.500000,6.467921,0.000000,400.500000
75%,588.75000,4.000000,1.000000,1.000000,1.000000,30.480775,2.000000,11.938301,6.000000,0.000000,...,400.000000,4.000000,1.000000,350.899539,25.087139,32.497026,0.600000,7.590115,0.000000,738.000000
max,772.00000,6.000000,1.000000,9.000000,1.000000,50.200849,2.000000,13.745718,6.000000,99.000000,...,400.000000,4.000000,1.700000,897.409976,93.207097,97.866966,2.100000,20.788765,1.000000,1710.000000

In [41]:
# importing synthetic data
trial_data_A=pd.read_csv("C:/Users/ez94785/synthetic_data_trials/data/trial_data_A.csv")
trial_data_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MASK_ID       500 non-null    int64
 1   REGION_C      500 non-null    object
 2   COU1A         500 non-null    object
 3   AGECAT        500 non-null    int64
 4   AGELE70       500 non-null    int64
 5   WHITE         500 non-null    int64
 6   MALE          500 non-null    int64
 7   BMI           500 non-null    float64
 8   TRTN          500 non-null    int64
 9   DUREXP_N      500 non-null    float64
 10  DUREXP_C      500 non-null    int64
 11  DTH_C         500 non-null    int64
 12  TUMLOC        500 non-null    int64
 13  TUMORSZ       500 non-null    int64
 14  SZ3TO6        500 non-null    int64
 15  SZ6TO10       500 non-null    int64
 16  PERFST_C      500 non-null    int64
 17  PSTAT0        500 non-null    int64
 18  AVGDOS_N      500 non-null    float64
 19  AVGDOS_C      500 non-null    int64
 20  CREA          500 non-null    float64
 21  PLAT2         500 non-null    float64
 22  SGOT          500 non-null    float64
 23  SGPT          500 non-null    float64
 24  TBIL          500 non-null    float64
 25  WBC           500 non-null    float64
 26  EVENT.RFS     500 non-null    int64
 27  TT_EVENT.RFS  500 non-null    int64
dtypes: float64(9), int64(17), object(2)
memory usage: 109.5+ KB

In [42]:
trial_data_B=pd.read_csv("C:/Users/ez94785/synthetic_data_trials/data/trial_data_B.csv")
trial_data_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MASK_ID       500 non-null    int64
 1   REGION_C      500 non-null    object
 2   COU1A         500 non-null    object
 3   AGECAT        500 non-null    int64
 4   AGELE70       500 non-null    int64
 5   WHITE         500 non-null    int64
 6   MALE          500 non-null    int64
 7   BMI           500 non-null    float64
 8   TRTN          500 non-null    int64
 9   DUREXP_N      500 non-null    float64
 10  DUREXP_C      500 non-null    int64
 11  DTH_C         500 non-null    int64
 12  TUMLOC        500 non-null    int64
 13  TUMORSZ       500 non-null    int64
 14  SZ3TO6        500 non-null    int64
 15  SZ6TO10       500 non-null    int64
 16  PERFST_C      500 non-null    int64
 17  PSTAT0        500 non-null    int64
 18  AVGDOS_N      500 non-null    float64
 19  AVGDOS_C      500 non-null    int64
 20  CREA          500 non-null    float64
 21  PLAT2         500 non-null    float64
 22  SGOT          500 non-null    float64
 23  SGPT          500 non-null    float64
 24  TBIL          500 non-null    float64
 25  WBC           500 non-null    float64
 26  EVENT.RFS     500 non-null    int64
 27  TT_EVENT.RFS  500 non-null    int64
dtypes: float64(9), int64(17), object(2)
memory usage: 109.5+ KB

In [43]:
trial_data_C=pd.read_csv("C:/Users/ez94785/synthetic_data_trials/data/trial_data_C.csv")
trial_data_C.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MASK_ID       500 non-null    int64
 1   REGION_C      500 non-null    object
 2   COU1A         500 non-null    object
 3   AGECAT        500 non-null    int64
 4   AGELE70       500 non-null    int64
 5   WHITE         500 non-null    int64
 6   MALE          500 non-null    int64
 7   BMI           500 non-null    float64
 8   TRTN          500 non-null    int64
 9   DUREXP_N      500 non-null    float64
 10  DUREXP_C      500 non-null    int64
 11  DTH_C         500 non-null    int64
 12  TUMLOC        500 non-null    int64
 13  TUMORSZ       500 non-null    int64
 14  SZ3TO6        500 non-null    int64
 15  SZ6TO10       500 non-null    int64
 16  PERFST_C      500 non-null    int64
 17  PSTAT0        500 non-null    int64
 18  AVGDOS_N      500 non-null    float64
 19  AVGDOS_C      500 non-null    int64
 20  CREA          500 non-null    float64
 21  PLAT2         500 non-null    float64
 22  SGOT          500 non-null    float64
 23  SGPT          500 non-null    float64
 24  TBIL          500 non-null    float64
 25  WBC           500 non-null    float64
 26  EVENT.RFS     500 non-null    int64
 27  TT_EVENT.RFS  500 non-null    int64
dtypes: float64(9), int64(17), object(2)
memory usage: 109.5+ KB

As per description file provided lots of columns are converted into integer encoded categorical varibales
pandas consider those columns as type numerical..so changing the data types of those to categorical to perform chi square test

In [44]:
# changing the dataTypes as per metadata
def identifyCategoricalColumsn(df,metadata):
    category_features = list(metadata.loc[metadata['DataType'] == 'object', 'Variable'])
    
    for each in category_features:
        df[each] = df[each].astype('object')
        
    return df

In [45]:
reference_data=identifyCategoricalColumsn(reference_data,metadata)
reference_data.info()
reference_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MASK_ID       500 non-null    int64
 1   REGION_C      500 non-null    object
 2   COU1A         500 non-null    object
 3   AGECAT        500 non-null    object
 4   AGELE70       500 non-null    object
 5   WHITE         500 non-null    object
 6   MALE          500 non-null    object
 7   BMI           500 non-null    float64
 8   TRTN          500 non-null    object
 9   DUREXP_N      500 non-null    float64
 10  DUREXP_C      500 non-null    object
 11  DTH_C         500 non-null    object
 12  TUMLOC        500 non-null    object
 13  TUMORSZ       500 non-null    object
 14  SZ3TO6        500 non-null    object
 15  SZ6TO10       500 non-null    object
 16  PERFST_C      500 non-null    object
 17  PSTAT0        500 non-null    object
 18  AVGDOS_N      500 non-null    float64
 19  AVGDOS_C      500 non-null    object
 20  CREA          500 non-null    float64
 21  PLAT2         500 non-null    float64
 22  SGOT          500 non-null    float64
 23  SGPT          500 non-null    float64
 24  TBIL          500 non-null    float64
 25  WBC           500 non-null    float64
 26  EVENT.RFS     500 non-null    object
 27  TT_EVENT.RFS  500 non-null    int64
dtypes: float64(9), int64(2), object(17)
memory usage: 109.5+ KB

,MASK_ID,BMI,DUREXP_N,AVGDOS_N,CREA,PLAT2,SGOT,SGPT,TBIL,WBC,TT_EVENT.RFS
count,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,387.80600,27.086878,8.424084,391.738140,0.892200,307.972435,22.298118,26.091764,0.501200,6.676767,479.256000
std,226.25543,6.544665,4.185951,29.553322,0.211491,119.926711,9.418479,14.594373,0.253312,2.065735,396.486602
min,2.00000,0.000000,0.067430,58.170000,0.300000,34.784960,1.700000,1.500000,0.100000,2.849748,0.000000
25%,190.75000,23.229933,4.514011,400.000000,0.800000,230.796295,16.950779,16.183997,0.300000,5.372324,135.750000
50%,387.50000,26.334258,11.127165,400.000000,0.900000,278.148838,20.516132,22.949396,0.500000,6.467921,400.500000
75%,588.75000,30.480775,11.938301,400.000000,1.000000,350.899539,25.087139,32.497026,0.600000,7.590115,738.000000
max,772.00000,50.200849,13.745718,400.000000,1.700000,897.409976,93.207097,97.866966,2.100000,20.788765,1710.000000

In [46]:
trial_data_A=identifyCategoricalColumsn(trial_data_A,metadata)
trial_data_A.info()
trial_data_A.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MASK_ID       500 non-null    int64
 1   REGION_C      500 non-null    object
 2   COU1A         500 non-null    object
 3   AGECAT        500 non-null    object
 4   AGELE70       500 non-null    object
 5   WHITE         500 non-null    object
 6   MALE          500 non-null    object
 7   BMI           500 non-null    float64
 8   TRTN          500 non-null    object
 9   DUREXP_N      500 non-null    float64
 10  DUREXP_C      500 non-null    object
 11  DTH_C         500 non-null    object
 12  TUMLOC        500 non-null    object
 13  TUMORSZ       500 non-null    object
 14  SZ3TO6        500 non-null    object
 15  SZ6TO10       500 non-null    object
 16  PERFST_C      500 non-null    object
 17  PSTAT0        500 non-null    object
 18  AVGDOS_N      500 non-null    float64
 19  AVGDOS_C      500 non-null    object
 20  CREA          500 non-null    float64
 21  PLAT2         500 non-null    float64
 22  SGOT          500 non-null    float64
 23  SGPT          500 non-null    float64
 24  TBIL          500 non-null    float64
 25  WBC           500 non-null    float64
 26  EVENT.RFS     500 non-null    object
 27  TT_EVENT.RFS  500 non-null    int64
dtypes: float64(9), int64(2), object(17)
memory usage: 109.5+ KB

,MASK_ID,BMI,DUREXP_N,AVGDOS_N,CREA,PLAT2,SGOT,SGPT,TBIL,WBC,TT_EVENT.RFS
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,375.340000,26.809384,8.534883,388.405140,0.876200,307.429291,23.000432,25.452042,0.510600,6.717944,481.152000
std,218.767747,6.545793,4.056826,41.375121,0.212093,118.433347,10.268863,14.755772,0.262384,2.049594,396.561838
min,6.000000,0.000000,0.067430,58.170000,0.400000,34.784960,7.743262,1.500000,0.100000,2.849748,0.000000
25%,177.500000,23.060863,4.679423,400.000000,0.700000,228.603550,16.971965,16.048617,0.300000,5.254901,121.000000
50%,381.000000,26.222851,11.189266,400.000000,0.900000,281.639163,20.725617,23.085833,0.500000,6.542824,414.500000
75%,566.000000,30.263536,11.939645,400.000000,1.000000,357.682771,25.383687,31.148924,0.600000,7.655139,731.250000
max,770.000000,48.523018,13.408745,400.000000,1.700000,897.409976,93.207097,97.866966,2.100000,20.788765,1710.000000

In [47]:
trial_data_B=identifyCategoricalColumsn(trial_data_B,metadata)
trial_data_B.info()
trial_data_B.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MASK_ID       500 non-null    int64
 1   REGION_C      500 non-null    object
 2   COU1A         500 non-null    object
 3   AGECAT        500 non-null    object
 4   AGELE70       500 non-null    object
 5   WHITE         500 non-null    object
 6   MALE          500 non-null    object
 7   BMI           500 non-null    float64
 8   TRTN          500 non-null    object
 9   DUREXP_N      500 non-null    float64
 10  DUREXP_C      500 non-null    object
 11  DTH_C         500 non-null    object
 12  TUMLOC        500 non-null    object
 13  TUMORSZ       500 non-null    object
 14  SZ3TO6        500 non-null    object
 15  SZ6TO10       500 non-null    object
 16  PERFST_C      500 non-null    object
 17  PSTAT0        500 non-null    object
 18  AVGDOS_N      500 non-null    float64
 19  AVGDOS_C      500 non-null    object
 20  CREA          500 non-null    float64
 21  PLAT2         500 non-null    float64
 22  SGOT          500 non-null    float64
 23  SGPT          500 non-null    float64
 24  TBIL          500 non-null    float64
 25  WBC           500 non-null    float64
 26  EVENT.RFS     500 non-null    object
 27  TT_EVENT.RFS  500 non-null    int64
dtypes: float64(9), int64(2), object(17)
memory usage: 109.5+ KB

,MASK_ID,BMI,DUREXP_N,AVGDOS_N,CREA,PLAT2,SGOT,SGPT,TBIL,WBC,TT_EVENT.RFS
count,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,512.34800,27.253133,8.201972,389.319320,0.908800,300.968413,22.835382,26.948968,0.666800,6.843120,480.504000
std,290.63363,6.607162,4.216153,34.268515,0.204368,110.223974,11.542221,15.094585,0.384491,2.287478,397.721585
min,0.00000,0.480088,0.100276,61.450000,0.300000,45.753561,2.170932,1.637801,0.100000,2.940706,0.000000
25%,264.75000,23.373147,4.139815,400.000000,0.800000,224.057067,16.965819,16.837733,0.400000,5.280844,155.500000
50%,513.50000,26.836825,10.334373,400.000000,0.900000,280.646788,20.530563,23.135763,0.600000,6.666619,400.500000
75%,761.50000,31.100001,11.904434,400.000000,1.000000,355.216527,25.687908,34.340765,0.900000,8.003487,736.000000
max,999.00000,49.660190,13.584168,400.000000,1.700000,868.454871,92.968133,97.575927,2.100000,20.646196,1710.000000

In [48]:
trial_data_C=identifyCategoricalColumsn(trial_data_C,metadata)
trial_data_C.info()
trial_data_C.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MASK_ID       500 non-null    int64
 1   REGION_C      500 non-null    object
 2   COU1A         500 non-null    object
 3   AGECAT        500 non-null    object
 4   AGELE70       500 non-null    object
 5   WHITE         500 non-null    object
 6   MALE          500 non-null    object
 7   BMI           500 non-null    float64
 8   TRTN          500 non-null    object
 9   DUREXP_N      500 non-null    float64
 10  DUREXP_C      500 non-null    object
 11  DTH_C         500 non-null    object
 12  TUMLOC        500 non-null    object
 13  TUMORSZ       500 non-null    object
 14  SZ3TO6        500 non-null    object
 15  SZ6TO10       500 non-null    object
 16  PERFST_C      500 non-null    object
 17  PSTAT0        500 non-null    object
 18  AVGDOS_N      500 non-null    float64
 19  AVGDOS_C      500 non-null    object
 20  CREA          500 non-null    float64
 21  PLAT2         500 non-null    float64
 22  SGOT          500 non-null    float64
 23  SGPT          500 non-null    float64
 24  TBIL          500 non-null    float64
 25  WBC           500 non-null    float64
 26  EVENT.RFS     500 non-null    object
 27  TT_EVENT.RFS  500 non-null    int64
dtypes: float64(9), int64(2), object(17)
memory usage: 109.5+ KB

,MASK_ID,BMI,DUREXP_N,AVGDOS_N,CREA,PLAT2,SGOT,SGPT,TBIL,WBC,TT_EVENT.RFS
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,461.994000,26.642986,7.988345,395.887940,0.871200,303.877117,22.088091,25.887911,0.525400,6.285936,429.488000
std,218.014896,5.381003,4.233034,16.831628,0.236649,128.545556,10.085000,13.690348,0.241851,1.768497,388.751841
min,3.000000,0.000000,0.403370,300.000000,0.500000,164.666030,1.700000,3.068650,0.100000,3.059133,0.000000
25%,302.000000,23.713063,3.615688,400.000000,0.700000,211.983060,16.409804,16.782896,0.400000,4.785875,91.000000
50%,455.000000,25.536879,9.685765,400.000000,0.900000,263.943143,19.846061,22.962576,0.500000,6.211377,359.000000
75%,661.000000,30.115237,11.845801,400.000000,1.000000,358.012928,24.524093,31.992823,0.600000,7.532800,737.000000
max,764.000000,43.010763,12.851466,400.000000,1.700000,857.754330,57.345403,84.346657,1.300000,10.845800,1540.000000

##### Using SDV:  The Synthetic Data Vault (SDV) is a Synthetic Data Generation ecosystem of libraries that allows users to easily learn single-table, multi-table and timeseries datasets to later on generate new Synthetic Data that has the same format and statistical properties as the original dataset.

#### Chi-Squared test
This metric uses the Chi-Squared test to compare the distributions
    of the two categorical columns. It returns the resulting p-value so that
    a small value indicates that we can reject the null hypothesis (i.e. and
    suggests that the distributions are different).
    
#### Inverted Kolmogorov-Smirnov D statistic
 the two-sample Kolmogorov–Smirnov test to compare
    the distributions of the two continuous columns using the empirical CDF.
    It returns 1 minus the KS Test D statistic, which indicates the maximum
    distance between the expteced CDF and the observed CDF values.
 As a result, the output value is 1.0 if the distributions are identical
    and 0.0 if they are completely different.

In [49]:
# chi test based on categorical variables
def chi_KS_test(synthectic_data,real_data):
    return evaluate(synthectic_data, real_data, metrics=['CSTest','KSTest'], aggregate=False)

In [50]:
#chi square test for dataset trial_data_A
chi_KS_test_A=chi_KS_test(trial_data_A, reference_data)
print(chi_KS_test_A)

   metric                                     name  raw_score  \
0  CSTest                              Chi-Squared   0.985352
1  KSTest  Inverted Kolmogorov-Smirnov D statistic   0.967455

   normalized_score  min_value  max_value      goal error
0          0.985352        0.0        1.0  MAXIMIZE  None
1          0.967455        0.0        1.0  MAXIMIZE  None

In [51]:
#chi square test for dataset trial_data_B
chi_KS_test_B=chi_KS_test(trial_data_B, reference_data)
print(chi_KS_test_B)

   metric                                     name  raw_score  \
0  CSTest                              Chi-Squared   0.982794
1  KSTest  Inverted Kolmogorov-Smirnov D statistic   0.917455

   normalized_score  min_value  max_value      goal error
0          0.982794        0.0        1.0  MAXIMIZE  None
1          0.917455        0.0        1.0  MAXIMIZE  None

In [52]:
#chi square test for dataset trial_data_C
chi_KS_test_C=chi_KS_test(trial_data_C, reference_data)
print(chi_KS_test_C)

   metric                                     name  raw_score  \
0  CSTest                              Chi-Squared   0.946131
1  KSTest  Inverted Kolmogorov-Smirnov D statistic   0.910182

   normalized_score  min_value  max_value      goal error
0          0.946131        0.0        1.0  MAXIMIZE  None
1          0.910182        0.0        1.0  MAXIMIZE  None

#### trial_data_A has maximum score(P value) and KS test score..it is most similar to reference dataset according to chi square test and  KS test

#### there are other metrics we can use SVCDetection,LogisticDetection
    These metrics build a Machine Learning Classifier that learns to tell the synthetic
    data apart from the real data, which later on is evaluated using Cross Validation.
    The output of the metric is one minus the average ROC AUC score obtained.

In [53]:
# detection metric on dataset A
evaluate(trial_data_A, reference_data, metrics=['LogisticDetection','SVCDetection'], aggregate=False)

C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

,metric,name,raw_score,normalized_score,min_value,max_value,goal,error
0,LogisticDetection,LogisticRegression Detection,1.000000,1.000000,0.0,1.0,MAXIMIZE,None
1,SVCDetection,SVC Detection,0.981913,0.981913,0.0,1.0,MAXIMIZE,None

In [54]:
#detection metric on dataset B
evaluate(trial_data_B, reference_data, metrics=['LogisticDetection','SVCDetection'], aggregate=False)

C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

,metric,name,raw_score,normalized_score,min_value,max_value,goal,error
0,LogisticDetection,LogisticRegression Detection,0.681521,0.681521,0.0,1.0,MAXIMIZE,None
1,SVCDetection,SVC Detection,0.967968,0.967968,0.0,1.0,MAXIMIZE,None

In [55]:
# detection metric on dataset C
evaluate(trial_data_C, reference_data, metrics=['LogisticDetection','SVCDetection'], aggregate=False)

C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ez94785\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

,metric,name,raw_score,normalized_score,min_value,max_value,goal,error
0,LogisticDetection,LogisticRegression Detection,0.721777,0.721777,0.0,1.0,MAXIMIZE,None
1,SVCDetection,SVC Detection,0.844008,0.844008,0.0,1.0,MAXIMIZE,None

### Conclusion: If we combine results of detection metric, chi square test and KS test. trial_dataset_A is best synthetic version of reference dataset.